.img-btn {
    position: relative;
    z-index: 2;
    margin: 3px;
}

.handler {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    border: unset;
}

.handler:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}


.img-cover {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.button-title {
    position: absolute;
    text-align: center;

    z-index: 5;
}
